*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
 overflow: hidden;
 min-height: 100vh;
}
section{
 position: relative;
 width: 100%;
 height: 100vh;
 cursor:url(../imgs/sht.png), pointer;
 background: url(../imgs/bg.JPG);
 background-size: cover;
 background-position: center center;
 background-repeat: no-repeat;
}

span{
 position: absolute;
 width: 40px;
 height: 38px;
 background: url(../imgs/hole.png);
 pointer-events: none;
 transform: translate(28px,28px);
}